<% meta title: "Reddit Ad Alerts - Monitor Subreddit Advertising Inventory",
  description: "Monitor subreddit ad opportunities with weekly reports and unclaimed inventory alerts.",
  keywords: %w(reddit subreddits advertising),
  og: {
    title: "Reddit Ad Alerts",
    description: "Monitor subreddit ad opportunities with weekly reports and unclaimed inventory alerts.",
    type: "website",
    image: "https://unsplash.imgix.net/reserve/3wBPUcDrR9KaduD3PvkY_DSC_0915.JPG?fit=crop&fm=jpg&h=250&q=75&w=350",
    url: "http://#{ENV['PRODUCTION_DOMAIN']}"
  },
  twitter: {
    title: "Reddit Ad Alerts",
    description: "Monitor subreddit ad opportunities with weekly reports and unclaimed inventory alerts.",
    card: "summary_large_image",
    site: "@brianpetro_",
    creator: "@brianpetro_"
  } 
%>
<div class="row">
  <div id="header" class="col-sm-12 text-center">
    <h1>
      Reddit Ad Report
    </h1>
    <h2>
      Monitor subreddit ad inventory with alerts and reports.
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="jumbotron">
      <h4>
        Request an invite to get early access!
      </h4>
      <div class="alert alert-info" role="alert" style="display: none">
      </div>
      <div class="alert alert-danger" role="alert" style="display: none">
      </div>
      <%= render 'home/invite_form' %>
      <%= render 'home/share_links' %>
    </div>
  </div>
</div>
<div id="support" class="row">
  <div class="col-sm-offset-1 col-sm-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>
          Reddit Advertising is a great source of <em>low cost</em> and targeted advertising. <span style="text-decoration:underline;">Unfortunately</span> it lacks a simple way to track subreddit ad inventories.
        </h3>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>
          RedditAdReport.com regularly reports available ad space and <strong>sends an alert when previously claimed inventory becomes available</strong>.
        </h3>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>
          Request an invite to get early access!
        </h4>
        <%= render 'home/invite_form' %>
      </div>
    </div>
  </div>
</div>
